@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

.input
  margin-bottom 10px
  label
    display block
    font-size 14px
    font-family "Source Sans Pro"
    color #1a3b5d
    font-weight 600
    margin 0 0 5px

  .active
    border 1px solid #3d9cff
    box-shadow: 0 1px 4px 1px rgba(61,156,255,0.4);
  input
    width 100%
    line-height: 50px
    font-size 18px
    border 1px solid #ced6e0;
    color #1a3b5d
    border-radius 6px
    padding 0 15px
    font-family "Source Sans Pro", sans-serif
    transition .3s
    outline none
    cursor pointer
    &:focus
    &:hover
      border 1px solid #3d9cff
      box-shadow: 0 1px 4px 1px rgba(61,156,255,0.4);



