.main {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .data {
  width: 100%;
  padding: 150px 30px 40px;
  border: 1px solid #fff;
  box-shadow: 0 30px 60px 0 rgba(90,116,148,0.4);
  border-radius: 10px;
  background: #fff;
}
.main .data .cvv {
  max-width: 150px;
}
.main .data button {
  display: block;
  width: 100%;
  line-height: 52px;
  background: #2364d2;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0 rgba(35,100,210,0.3);
  color: #fff;
  cursor: pointer;
}
.main .success {
  transition: 0.8s;
  box-shadow: 0 10px 30px 0 #0c0;
}
.bottomRow {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 0.3;
}
.formGroup >div {
  display: flex;
  justify-content: space-between;
}
.formGroup label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3b5d;
  width: 100%;
  display: block;
  user-select: none;
  height: 18px;
}
.error,
.lastError {
  text-align: right;
  color: #ff6538;
  display: block;
  font-weight: 700;
  font-size: 12px;
  height: 12px;
}
.lastError {
  margin-bottom: 30px;
}
@media (max-width: 599px) {
  .main {
    width: 320px;
  }
}
